*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../image.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
}   

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: orangered;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.menu{
    width: 400px;
    height: 40px;
    float: left;
}

ul{
    float: left;
    display: flex;
    justify-items: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in -out;
}

ul li a:hover{
    background-color: orangered;
    box-shadow: 5px 5px 50px black;
    margin-top: 20px;
    margine-bottom: 20px;
    margine-left: 20px;
    margine-right: 20px;
}